__pycache__/
*/__pycache__/

assets/Mekari - AI Engineer.pdf
assets/Mekari - AI Engineer.docx

data/fraudData/fraudTrain.csv
data/fraudData/fraudTest.csv

data/Understanding Credit Card Frauds/qdrant
data/fraudData/postgresql

~$*