data/*.pdf filter=lfs diff=lfs merge=lfs -text
data/*.docx filter=lfs diff=lfs merge=lfs -text

"assets/q&a_chatbot_fastapi_demo.mp4" filter=lfs diff=lfs merge=lfs -text
"assets/q&a_chatbot_streamlit_demo.mp4" filter=lfs diff=lfs merge=lfs -text

"data/fraudData/fraudData_snapshot.dump" filter=lfs diff=lfs merge=lfs -text
"data/Understanding Credit Card Frauds/Bhatla_chunks.json" filter=lfs diff=lfs merge=lfs -text
"data/Understanding Credit Card Frauds/Bhatla_embeddings.npy" filter=lfs diff=lfs merge=lfs -text