tqdm
python-dotenv

python-docx

numpy
pandas
matplotlib

nltk
torch
transformers
sentence-transformers

sqlalchemy
psycopg2-binary
qdrant-client

fastapi
uvicorn[standard]
pydantic
typing-extensions
langgraph
openai

requests
streamlit